<appSettings>
  <add key="owin:AppStartup" value="DSS2_SynchromodalityCapacityOptimisation.Web.Startup" />
  <add key="FirstAdminSetup" value="false" />
  <add key="EnableSSL" value="true" />
  <add key="Locales" value="1033$English-United States|1032$Greek" />
  <add key="DefaultLocale" value="1033" />
  <add key="DefaultUILanguage" value="1033" />
  <add key="DefaultTheme" value="Default" />
  <add key="AdministratorEmail" value="" />
  <add key="TestMode" value="false" />
  <add key="TestModeEmail" value="" />
  <add key="ServerExternalIP" value="localhost" />
  <add key="audittrail:enabled" value="true" />
  <add key="EmailSecureConnectionType" value="TLS" />
  <add key="AuthenticationCookieName" value="DSS2_SynchromodalityCapacityOptimisation_5113_kfilippakos" />
  <add key="AuthenticationCookieValidationIntervalInSeconds" value="1" />
  <add key="databaseEncryption.certificateName" value="DSS2_SynchromodalityCapacityOptimisation_5113_kfilippakos" />
  <add key="databaseEncryption.symmetricKeyName" value="DSS2_SynchromodalityCapacityOptimisation_5113_kfilippakos_Key" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="ScheduleThreadEnabled" value="false" />
  <add key="ScheduleThreadWorkIntervalInMsec" value="5000" />
  <add key="ScheduleThreadAnalyticDebugOn" value="false" />
  <add key="ScheduleThreadHttpRequestTimeOutMin" value="-1" />
  <add key="rabbitmq:host" value="" />
  <add key="rabbitmq:port" value="" />
  <add key="rabbitmq:vhost" value="" />
  <add key="rabbitmq:username" value="" />
  <add key="rabbitmq:password" value="" />
  <add key="rabbitmq:queue" value="" />
  <add key="rabbitmq:exchange" value="" />
  <add key="rabbitmq:routingKey" value="" />
  <add key="apiregistry:consulhost" value="" />
  <add key="ServerRole" value="Combined" />
  <add key="IMAP:host" value="" />
  <add key="IMAP:port" value="0" />
  <add key="IMAP:enableSSL" value="false" />
  <add key="IMAP:username" value="" />
  <add key="IMAP:password" value="" />
  <add key="SQLQueryTimeoutInSeconds" value="30" />
  <add key="SeedSecurityTables" value="true" />
  <add key="DisableAccessLog" value="false" />
  <add key="ZipWebRequests" value="false" />
</appSettings>