<?xml version="1.0" encoding="utf-8"?>
<cacheManager xmlns="http://cachemanager.net/schemas/CacheManagerCfg.xsd">
  <managers>
    <!--       <cache name="ServicesCache" enableStatistics="true" enablePerformanceCounters="true" backplaneName="redis1" backplaneType="CacheManager.Redis.RedisCacheBackplane, CacheManager.StackExchange.Redis" serializerType="CacheManager.Serialization.Json.JsonCacheSerializer, CacheManager.Serialization.Json"> -->
    <cache name="ServicesCache" enableStatistics="true" enablePerformanceCounters="true" serializerType="CacheManager.Serialization.Json.JsonCacheSerializer, CacheManager.Serialization.Json">
      <handle name="default" ref="dicGeneric" />
      <!--<handle name="redis1" ref="redisHandle" expirationMode="None" isBackplaneSource="true"/>-->
    </cache>
    <cache name="AppCache" enableStatistics="true" enablePerformanceCounters="true" serializerType="CacheManager.Serialization.Json.JsonCacheSerializer, CacheManager.Serialization.Json">
      <handle name="default" ref="dicGeneric" />
    </cache>
    <cache name="SessionStateStorage" enableStatistics="true" enablePerformanceCounters="true" serializerType="CacheManager.Serialization.Json.JsonCacheSerializer, CacheManager.Serialization.Json">
      <handle name="default" ref="dicSession" />
    </cache>
  </managers>
  <cacheHandles>
    <handleDef id="dicGeneric" type="CacheManager.Core.Internal.DictionaryCacheHandle`1, CacheManager.Core" defaultExpirationMode="Absolute" defaultTimeout="30s" />
    <handleDef id="dicSession" type="CacheManager.Core.Internal.DictionaryCacheHandle`1, CacheManager.Core" defaultExpirationMode="Absolute" defaultTimeout="20m" />
  </cacheHandles>
</cacheManager>